html {
  height: 100%;
  width: 80%;
  background-color: black;
  margin: 50px 20vw;
  
}
body {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width:60vw;
}

.leftHeader {
  font-weight: bold;
  justify-content: left;
  border: solid;
}

.rightHeader {
  font-weight: bold;
  justify-content: right;
  border: solid;
}

a {
  color: white
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
